@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
    .lend-1 .row-bottom{flex-direction: column;justify-content: center;
    align-items: center;}
    .lend-1 .row-bottom .item.left{flex-shrink: 1;flex-direction: column-reverse;height: auto;margin-bottom: 20px;}
    .lend-1 .row-bottom .item.left .item-text{margin-bottom: 20px;}
    .lend-1 .row-bottom .item.left .item-text p{margin-bottom: 20px;}
    .lend-1 .row-bottom .item.left .item-text p br{display: none;}
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}