@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1750px), screen and (max-height: 980px){
    //   unstoppable media end fixes
    .lend-2{zoom: 0.73;}
    .lend-2 .lend-2-button{zoom: .5;}

    .lend-2 .lend-2-wrap{-moz-transform: scale(0.7, 0.7) translate(0,25%);-moz-transform-origin: center center;}



    .lend-3 .mbox{zoom:0.70;zoom: 0.70;-ms-zoom: 0.70;-webkit-zoom: 0.70;-moz-transform: scale(0.7, 0.7) translate(0,30%);-moz-transform-origin: center center;
    }
    //   /unstoppable fixes
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    //   unstoppable fixes
    .lend-2{zoom: 1;}
    .lend-2 .lend-2-button{zoom: 1;}
    .lend-2 .lend-2-wrap{-moz-transform: scale(1, 1) translate(0,0%);}


    .lend-3{zoom:1}
    .lend-3 .mbox{zoom:1;zoom: 1;-ms-zoom: 1;-webkit-zoom: 1;-moz-transform: scale(1, 1) translate(0,0);-moz-transform-origin: center center;
    }
    //   /unstoppable fixes

    .lend-2 .lend-2-people{left: -15%;bottom: -40px;max-width: 469px;}
    .lend-2 .lend-2-text{max-width: 480px;}
    .lend-2 .lend-2-button{max-width: 300px;}
    .lend-2 .lend-2-timer #timeto-2{padding-top: 21px;margin-left: -20px;margin-bottom: 12px;}
    .lend-2 .mbox{margin-bottom: 20px;}
    .lend-2 .lend-2-timer{padding-top: 25px;}
    .lend-2 .lend-2-circle{max-width: 90px;max-height: 90px;}


    .lend-3-people img{margin-bottom: -234px;}
    .header-3 .header-title h1{font-size: 31px;}
    .lend-3 .lend-3-form{bottom: 120px;}

}
@media screen and (max-width: 992px){
    .lend-1 .row-bottom{flex-direction: column;justify-content: center;
    align-items: center;}
    .lend-1 .row-bottom .item.left{flex-shrink: 1;flex-direction: column-reverse;height: auto;margin-bottom: 20px;}
    .lend-1 .row-bottom .item.left .item-text{margin-bottom: 20px;}
    .lend-1 .row-bottom .item.left .item-text p{margin-bottom: 20px;}
    .lend-1 .row-bottom .item.left .item-text p br{display: none;}


    .lend-2 .lend-2-people{left: -22%;}
    .lend-2 .lend-2-text{margin-bottom: 30px;margin-top: 30px;}
    .lend-2 .lend-2-circle{max-width: 140px;max-height: 140px;}

    .header-3 .header-title h1{font-size: 33px;}
    .lend-3 .lend-3-form .form_row{flex-direction: column;height: auto;padding: 20px;max-width: 495px;    margin: 0 20px;}
    .lend-3 .lend-3-form .form_row .form_input:first-child{margin-bottom: 20px;}
    .lend-3 .lend-3-form .submit button b{font-size: 33px;}
    .lend-3 .lend-3-form .submit button span{font-size: 26px;}
    .lend-3 .lend-3-form .submit button{margin: 0 auto;height: auto;padding: 33px 10px;}
    .lend-3 .lend-3-form form{align-items: center;}
    .lend-3 .lend-3-form{bottom: 100px}
    .lend-3-people img{margin-bottom: -0px;}
    .header-3{top: 67px;}
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    .header-1 .mbox .header-tel a{font-size: 18px;}
    .header-1 .mbox .header-tel button{font-size: 16px;}


    .lend-2 .lend-2-text{max-width: 382px;font-size: 17px;margin-top: 10px;margin-bottom: 10px;}
    .lend-2 .lend-2-circle {max-width: 100px;max-height: 100px;}
    .lend-2 .lend-2-timer > span{color: white !important;text-shadow:0px 0px 8px #000 !important;background:transparent !important;-webkit-background-clip: inherit !important;}
    .lend-1 {background: transparent url("../images/lend-1.jpg") 30% top no-repeat;}
    .lend-3-people img {margin-bottom: -170px;}
    .lend-3 {background: transparent url("../images/lend-3.jpg") 44.1% top no-repeat;background-size: cover;}
}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}